<div>
  <input type="checkbox" ng-click="checkAll()">Check All</input>
  <input type="checkbox" checked ng-click="uncheckAll()">Uncheck All</input>
<!-- <p>{{skills}}</p> -->
    <strong>Backend</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'PHP'">PHP</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Python'">Python</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Ruby'">Ruby</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Java'">Java</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'ObjectiveC'">Objective-C</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Swift'">Swift</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'NET'">.NET</input>
      <br/>
    <strong>Frontend</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'HTML'">HTML</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'CSS'">CSS</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Javascript'">Javascript</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'jQuery'">jQuery</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Angular'">AngularJS</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Backbone'">Backbone.js</input>
      <br/>
    <strong>Front-end Frameworks</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Foundation'">Foundation</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Bootstrap'">Bootstrap</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Meteor'">Meteor</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'PhoneGap'">PhoneGap</input>
      <br/>
    <strong>Databases</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'MySQL'">MySQL</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Postgres'">Postgres</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'MongoDB'">MongoDB</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'SQL'">SQL</input>
      <br/>
    <strong>PHP/Ruby Frameworks</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Rails'">Rails</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Laravel'">Laravel</input><br>
      <input type="checkbox" ng-model="skills" ng-true-value="'Wordpress'">Wordpress</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'CakePHP'">CakePHP</input>
      <br/>
    <strong>Other Coding Skills:</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Git'">Git</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'GitHUB'">GitHub</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Coffeescript'">Coffeescript</input>
      <br/>
    <strong>Design</strong><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Photoshop'">Photoshop</input><br/>
      <input type="checkbox" ng-model="skills" ng-true-value="'Illustrator'">Illustrator</input>
      <br/>
<!--     <strong>STD Testing</strong><br/>
      <input type="radio" name="" value="">Only Show Tested Talent</input>
      <input type="radio" name="" value="">Show All Talent</input>
      <br/>
    <strong>Experience</strong><br/>
      <input type="radio" name="" value="">Intern</input>
      <input type="radio" name="" value="">Junior</input>
      <input type="radio" name="" value="">Senior</input>
      <input type="radio" name="" value="">All</input>
      <br/>
    <strong>Star Rating</strong><br/>
      <input type="radio" name="" value="">1-3</input>
      <input type="radio" name="" value="">3+</input>
      <input type="radio" name="" value="">4+</input>
      <input type="radio" name="" value="">5+</input>
      <br/>
    <strong>Projects Completed</strong><br/>
      <input type="radio" name="" value="">1-4</input>
      <input type="radio" name="" value="">5-9</input>
      <input type="radio" name="" value="">11-10+</input>
      <br/>
    <strong>Min. Contract Amount to Contact</strong><br/>
      <input type="radio" name="" value="">$1000</input>
      <input type="radio" name="" value="">$1001-$2500</input>
      <input type="radio" name="" value="">$2501-$5000</input>
      <input type="radio" name="" value="">$5001-$10,000</input>
      <input type="radio" name="" value="">$10,001-$20,000</input>
      <input type="radio" name="" value="">$20,001-$50,000</input>
      <input type="radio" name="" value="">$50,000+</input>
      <br/>
    <strong>Min. Full-Time Amount to Contact</strong><br/>
      <input type="radio" name="" value="">$70,000+</input>
      <input type="radio" name="" value="">$100,000+</input>
      <input type="radio" name="" value="">$150,000+</input>
      <input type="radio" name="" value="">$200,000+</input>
      <input type="radio" name="" value="">$300,000+</input>
      <input type="radio" name="" value="">$500,000+</input>
      <br/> -->
</div>