

<div class="row">
<div class="small-2 medium-2 large-2 columns"></div>
<div class="small-8 medium-8 large-8 columns">
<h2>Post Your Profile Here</h2>
<h4>...so employers can hire you</h4>
<%= render 'form' %>
</div>
<div class="small-2 medium-2 large-2 columns"></div>


