<div class="row">
  <div id="facebook_conversion_page_content" class="small-12 medium12 large-12 columns">
	<h1>Congratulations!</h1>
	<h5>You just created a new profile.<h5>
	<h5>You will be redirected momentarily. If not, <%= link_to 'click here', developers_path %> to continue.</h5>
		<%= javascript_tag "facebookNewProfileConversion()" -%>
		<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6027479917035&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
		  </div>
</div>
<%= javascript_tag "renderContracts()" -%>