<p>Hi <%= @contract.employer.first_name %>,</p>
 
<p>I'm interested in your contract, please <%= link_to "review my profile", developer_url(@developer.id) %>  and contact me if you're interested. </p>

