
<div class="row">
  <div class="hide-for-small-only large-12 columns">
    <div class="search">
      <h2>Contracts You Liked:</h2>
   </div>
  </div>

<div class="row">
  <div class="hide-for-small-only medium-3 large-3 columns"></div>
  <% @contracts.each do |contract| %>
  	<ul>
  		<%= link_to contract_path(contract.id), {:controller => 'contract', :action => 'show', :id => contract.id} do %>
  		<ul><%= image_tag('corporation.jpg') %>
  		<% end %></ul>
  		<ul><h2><%= contract.title %></h2></ul>
    	<ul><li><%= contract.description %></li></ul>
   </ul>
  <% end %>
