  <div class="hide-for-small-only large-12 columns">
    <div class="search">
      <h2 id="developer_directory">Contract Directory</h2>
      <label>search: </label>
    <input ng-model="query" placeholder="search contracts in your area" autofocus>
    <label class="formgroup" id="sort_by_label"><strong>Sort by:</strong>
      <span>
      <select ng-model="contractOrder">
        <option value="amount">Contract Amount</option>
        <option value="location">Location</option>
        <option value="title">Contract Name</option>
<!--         <option value="distance" ng-selected="true">Distance From You</option> -->
      </select>
      </span>
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
    </label>
    <label class="formgroup">
       <input type="radio" ng-model="direction" name="direction" value="reverse">     
      descending
    </label><br>
    <label class="formgroup">
       <input type="checkbox" ng-model="showOnlyFavoritesChecked" name="selected">  
      only show liked contracts
      <% if current_user.type == 'Developer' %>
      <span><%= link_to("see how employers view me",search_developers_path, :id => "see_the_developers_view_link") %></span>
      <% elsif current_user.type == 'Employer' %>
       <span><%= link_to("switch back to standard view",search_developers_path, :id => "see_the_developers_view_link") %></span>       
      <% end %>
    </label>
   </div>
  </div>