<div class="row">
  <%= render 'directory' %>
</div>
  <div class="small-2 medium-2 large-2"></div>
  <div class="small-10 medium-10 large-10">
  </div>
  <div class="small-2 medium-2 large-2"></div>
<div ng-view>

</div> 
<div class="row">
  <div class="small-8 medium-8 large-8">
  </div>
</div>