<p>Hi <%= @employer.first_name %>,</p>
 
<p>Unfortunately, the developer has rejected your offer. But don't give up yet....</p>

<p><%= link_to 'Perhaps you can find a new developer to complete your project.', root_path %></p>

<p>Good luck!</p>


