<p>Hey Administrator of San Francisco Developer Exchange,</p>
 
<p>An employer just marked a contract complete - now pay the developer asap.></p>

<p><%= link_to 'View the contract here.', contract_url(@contract) %></p>

