<p>Hey Administrator of San Francisco Developer Exchange,</p>
 
<p>The employer marked the contract complete - now pay the developer asap for <%= link_to 'the contract'. contract_path(@contract) %></p>



