// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_contracts_body {
  margin-bottom: 300px;
}
#contract_form {
  box-shadow: 1px 1px 2px rgba(182,182,182,0.75);
  padding: 24px 24px 0px 24px;
  background-color: #fff;
  margin-bottom: 50px;
}
#contract_form h2, #contract_form h4 {
  margin: -22px -24px 24px -24px;
  padding: 6px 24px;
  font-weight: normal;
  color: #999999;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 #d4d4d4;
  background: linear-gradient(to bottom, #ffffff 50%,#f6f6f6 100%);
}
#contract_form h2 {
  font-size: 34px;
}
#contract_form h4 {
  font-size: 25px;
}
#contract_description_show_page {
	width: 100%;
    height: 200px;
    overflow: scroll;
    border-radius: 5px;
    // border: 1px solid grey;
    margin-top: -8px;
}
#reject_offer_button, #delete_contract_button {
  background-color: red;
}

#mark_complete_button, #reject_offer_button, #delete_contract_button, #view_negotiations_button {
	margin-right: 20px;
}
#contracts_request_interview_button {
  width: 100%;
  border-radius: 20px;
}
#contract_agree_to_terms {
	margin: 30px 10px 30px 0px;
}
#contract_agree_to_terms label {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 1.7em;
}
.contract img{
opacity: 1.0;
position: relative;
z-index: 100;
border-radius: 10%;
transition-duration: 0.7s;
margin-top: 20px;
border: 5px solid steelblue;
}
.contract img:hover {
border: 5px solid black;
border-radius: 50%;
opacity: 1.0;
transition-property: opacity, border-radius, border;
transition-duration: .6s, 1.1s, .7s;
}
#contract_container_all_contracts {
	border: 4px solid $border3;
/*	keeps contracts below top-bar nav*/
	z-index: 1;
}
#contract_container_each_contract {
padding-left: 20px;
opacity: 1.0;
position: relative;
z-index: 100;
border-radius: 10px;
transition-duration: .7s;
border: 3px solid black;
background-color: rgba(0, 0, 0, 0.1);
}
#contract_container_each_contract:hover {
border: 5px solid steelblue;
border-radius: 20px;
opacity: 1.0;
transition-property: opacity, border-radius, border;
transition-duration: .2s, .7s, .3s;	
}
#NewDeveloperModal {
	margin-top: -170px;
/*  	visibility: visible !important;
  	display: block !important;*/
}