#headerProfileImage {
	width: 62px;
	height: 62px;
	z-index: 100;
	margin-left: -60px;
	position: absolute;
	margin-top: 4px;
	border-radius: 50%;
	border: 2px solid steelblue;
}
#the_logo {
/*    font-family: Bree Serif, serif;*/
	font-size: 2.0em;
	margin-top: 5px;
	margin-bottom: 1px;
	opacity: 0.5;
}
#the_logo:hover {
	opacity: 1.0;
}
.title-area {
	color: #FAFAFA;
	font-weight: 900;
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 8px;
}
#name_tagline {
	font-size: 1.04em;
	color: white;
	padding-left: 0px;
	margin-top: -35px;
}
a#register_name {
	margin-right: 100px;
	padding: 10px;
	margin-top: 10px;
}
#register_and_login_links {
	margin-top: -60px;
	margin-right: 12px;
	margin-bottom: 20px;
	font-size: 1.65em;
}
#hidden-register-name-dropdown-links {
	display: none;
}
#hidden-register-name-dropdown-links li {
 background: #0f0f0f;
 z-index: 10;
 padding: 12px 12px 12px 12px;
 margin-left: 0px;
 font-size: 0.85em;
}
#hidden-register-name-dropdown-links li:first-child {
 margin-top: 7px;
}
#hidden-register-name-dropdown-links li:hover {
 color: white !important;
 background-color: steelblue;
 font-weight: 800;
 font-size: 0.95em;
}
#hidden-register-name-dropdown-links a:hover {
 color: white !important;
}
