.iconCounter {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 3px solid black;
	background-color: #48b8e8;
	position: absolute;
	z-index: 100;
	margin-left: -11px;
	margin-top:12px;
}
span #counterNumber {
	width: 26px;
	height: 26px;
	color: black;
	font-size: 15px;
	margin-top: -25px;
	margin-left: 6px;
	position: absolute;
	z-index: 102;
}
.counter1 {
  margin-left: -300px;	
}
.tooltip {
  margin-top: -30px;
  margin-left: -320px;
  min-width: 260px !important;
  text-align: center;
}
.has-tip {
  cursor: pointer;
}
.far-left {
  margin-left: -360px;
  font-size: 45px;
  color: grey;
  position: absolute;	
}
.style_special {
  margin-left: -300px;
  font-size: 45px;
  color: #48b8e8;
  position: absolute;	
}
.style1 {
  margin-left: -300px;
  font-size: 45px;
  color: grey;
  position: absolute;
}
.style2 {
  margin-left: -240px;
  font-size: 45px;
  color: grey;
  position: absolute;
}
.style3 {
  margin-left: -180px;
  font-size: 45px;
  color: grey;
  position: absolute;
}
.style4 {
  margin-left: -120px;
  font-size: 45px;
  color: grey;
  position: absolute;	
}
.style1:hover, .style2:hover, .style3:hover, .style4:hover, .style_special:hover {
  opacity: 0.8;
  color: #FFF;
}
.far-left:hover {
  color: #FFF;
}
#headerProfileImage {
	width: 45px;
	height: 45px;
	z-index: 100;
	margin-left: -60px;
	position: absolute;
	margin-top: 11px;
	border-radius: 50%;
	border: 2px solid black;
	opacity: 1.0;
}
#headerProfileImage:hover {
	opacity: 0.8;
}
#contractProfileImage {
	width: 90px;
	height: 90px;
	z-index: 100;
	margin-top: 4px;
	border-radius: 50%;
	border: 2px solid steelblue;
}
#the_logo {
/*    font-family: Bree Serif, serif;*/
	font-size: 2.0em;
	margin-top: 5px;
	margin-bottom: 1px;
	opacity: 0.5;
}
#the_logo:hover {
	opacity: 1.0;
}
.title-area {
	color: #FAFAFA;
	font-weight: 900;
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 8px;
}
#name_tagline {
	font-size: 1.04em;
	color: white;
	padding-left: 0px;
	margin-top: -35px;
}
a#register_name {
	margin-right: 100px;
	padding: 10px;
	margin-top: 10px;
}
#register_and_login_links {
	margin-top: -52px;
	margin-right: -35px;
	margin-bottom: 20px;
    font-size: 20px;
}
#landing_page_login_and_register_links_in_header {
	font-size: 20px !important;
	// margin-top: 8px;
	margin-right:20px;
	color: #D3D3D3;
/*	border: 2px solid green;*/
	min-width: 300px;
	text-align: center;
}
#landing_page_login_and_register_links_in_header a {
	color: #D3D3D3;
/*	border: 2px solid red;*/
	margin-left: 20px;
	font-weight: 670;
}
#landing_page_login_and_register_links_in_header a:hover {
	color: steelblue;
}
#hidden-register-name-dropdown-links {
	display: none;
}
#hidden-register-name-dropdown-links li {
 background: #0f0f0f;
 z-index: 10;
 padding: 12px 12px 12px 12px;
 margin-left: 0px;
 font-size: 0.85em;
}
#hidden-register-name-dropdown-links li:first-child {
 margin-top: 7px;
}
#hidden-register-name-dropdown-links li:hover {
 color: white !important;
 background-color: steelblue;
}
#hidden-register-name-dropdown-links a:hover {
 color: white !important;
}
