// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.testimonial blockquote{
    font-size: 1.5em;
    margin-top: 35px;
}
.testimonial cite{
    font-size: 0.9em;
}
#testimonial_1 {
    border-radius: 50%;
    border: 1px solid black;
    opacity: 1.0;
    margin-left: 50px;
    margin-top: 46px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
#testimonial_1:hover {
    opacity: 0.8;
transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
}
.bg-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    max-height: 580px;
    margin-top: -20px;
}
.bg-content {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    position: static;
}
.bg-content video {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    display: block;
    width: 100%;
    height: auto !important;
    top: 0;
    left: 0;
}
#landing-page-headline {
    margin-top: -60px;
    position: relative;
    z-index: -99999;
    text-shadow: 1px 1px 1px #000, 
               1px 1px 2px #000; 
}
#subtitle {
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #000, 
               1px 1px 2px #000; 
}

