// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.testimonial blockquote{
    font-size: 1.5em;
    margin-top: 35px;
}*/
#data_table a {
  color: #a6e22d; 
}
#data_table a:hover {
  background-color: #48b8e8; 
  color: black;
}
#data_table td, #data_table tr {
  color: #a6e22d;
  font-size: 20px;
  background-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
}
#data_table, #data_table th {
  background-color: black;
  color: #a6e22d; 
  font-size: 23px;
  padding-top: 8px;
  padding-bottom: 8px;

}
#data_table {
  border-radius: 10px;
  border: 3px solid grey;
}
#data_table td:hover {
  background-color: #48b8e8;
  color: black;
}
.cartoon_image {
  margin-left: 25%;
  border-radius: 50%;
  border: 2px solid black;
  opacity: 1.0;
  -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
.cartoon_image:hover, .freedom_image:hover {
    opacity: 0.8;
transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
}
.freedom_image {
  border-radius: 50%;
  border: 2px solid black;
  width: 450px;
  height: 450px;
  margin-left: 25%;
  opacity: 1.0;
  -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
#landing_page_benefits_section h4{
  font-size: 1.9em;
  font-weight: 600;
/*  color: #545454;*/
  color: #FFF;
}
#landing_page_benefits_section p strong{
  font-size: 1.1em; 
}
#landing_page_benefits_section p {
  font-size: 1.3em;  
}
#headlines {
  z-index: 0;
}
#why_should_i_sign_up_headline {
  text-align: center;
/*  color: #545454;*/
  font-size: 3em;
  color: #fff;
  letter-spacing: -.02em;
}
.why_should_i_headline {
  text-align: center;
/*  color: #545454;*/
  font-size: 2.3em; 
  color: #fff;
}
/*i #landinge_page {
  color: #48b8e8;
}*/
.testimonial cite{
    font-size: 0.9em;
    color: #909295;
}
.testimonial blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 2.0em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.testimonial blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.testimonial blockquote p {
  display: inline;
}
.testimonial_image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid black;
    opacity: 1.0;
    margin-left: 50px;
    margin-top: 46px;
  -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
.testimonial_image:hover {
    opacity: 0.8;
transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
}
.bg-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    max-height: 680px;
    margin-top: -20px;
}
.bg-content {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    box-shadow: 0 0 5px rgba(0,0,0,0.24) inset;
    position: static;
}
.bg-content video {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    display: block;
    width: 100%;
    height: auto !important;
    top: 0;
    left: 0;
}
#landing-page-headline {
    margin-top: -60px;
    text-shadow: 1px 1px 1px #000, 
               1px 1px 2px #000; 
}
#subtitle {
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #000, 
               1px 1px 2px #000; 
}

