// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#linkedin_button {
	margin: 20px;
}
#facebook_button {
	margin: 5px 0px 5px 15%;
	width: 300px;
	opacity: 0.9;
}
#facebook_button_register_page {
  margin: 5px 0px 5px 22%;
  width: 300px;
  opacity: 0.9;
}
#facebook_button:hover {
	opacity: 1.0;
}

#facebook_button_register_page:hover {
	opacity: 1.0;
}

.sign_up_form, .sign_in_form, .confirmation_form, .password_form {
  box-shadow: 1px 1px 2px rgba(182,182,182,0.75);
  padding: 24px 24px 0px 24px;
  background-color: #fff;
  margin-bottom: 300px;
  margin-top: 20px;
}

.sign_up_form h2, .sign_in_form h2, .confirmation_form h2, .password_form h2{
  margin: -22px -24px 24px -24px;
  padding: 6px 24px;
  font-size: 34px;
  font-weight: normal;
  color: #999999;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 #d4d4d4;
  background: linear-gradient(to bottom, #ffffff 50%,#f6f6f6 100%);
}

input.button {
width:100%;
font-size: 1.4em;
height: 3em;
}

input.string, input.password {
  font-size: 1.6em;
  height: 1.6em;
}
label {
  font-size: 1.4em;
}
/*input#type_Developer {
  margin-left: 11%;
}
input#type_Employer {
  margin-left: 7%;
}*/
input#user_email, input#user_password, input#user_email, input#location, input#user_confirm_password {
  height: 1.6em;
  font-size: 1.6em;
}
input#user_remember_me {
  margin-right: 15px;
}
