<p>Hey <%= @developer.first_name %>,</p>
 
<p>Someone interested in hiring you just sent you a message.</p>

<p><%= link_to "See the message now.", negotiation_url(@negotiation) %></p>

<p>Sincerely,</p>
<p>The Team at San Francisco Developer Exchange</p>

