<p>Hey <%= @developer.first_name %>,</p>
 
<p>Someone is interested in hiring you and has just sent you a message.</p>

<p><%= link_to "See the message now", negotiation_url(@negotiation) %>.</p>

<p>Good luck!</p>
<p>Adam, Founder - San Francisco Developer Exchange&trade;</p>

