/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self

*/
/*keep this order*/
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/helpers';
@import 'partials/header';
@import 'foundation-icons';
@import 'partials/contracts';
@import 'partials/deals';
@import 'partials/developer';
@import 'partials/landing_page';
@import 'partials/negotiations';
@import 'partials/registrations';
@import 'partials/scaffolds';
@import 'partials/trading_floor';
@import 'partials/user';

.top-bar {
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center bottom, circle closest-corner, #333333 0%, #000000 70%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center bottom, circle closest-corner, #333333 0%, #000000 70%);

/* Opera */ 
background-image: -o-radial-gradient(center bottom, circle closest-corner, #333333 0%, #000000 70%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 477, color-stop(0, #333333), color-stop(0.7, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center bottom, circle closest-corner, #333333 0%, #000000 70%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle closest-corner at center bottom, #333333 0%, #000000 70%);
}
#logo_image {
	margin: 2px 0px 0px -3px;
}
#support_page_content {
	margin-top: 100px;
	margin-bottom: 300px;
	margin-left: 80px;
}
#facebook_conversion_page_content {
	margin-top: 100px;
	margin-bottom: 300px;
	margin-left: 80px;
}
.alert, .notice {
	margin-left: 20px;
}
.alert {
	color:red;
}
.developer_ratings_section {
	background: blue;
	width: 80%;
	height: 500px;
	float: right;
	display: inline-block;
}
.employer-likes-index-star {
	color: yellow !important;
	font-size: 6em !important;
	margin: 40px 20px 20px 20px;
	display: inline-block !important;
}
#name_tagline {
font-size: 1.2em;
padding: 3px 0px 3px 0px;
}
.tagline {
margin-top: -20px;
color: white;
font-weight: 800px;
}
#profileImage {
margin-top: 30px;
border-radius: 50%;
border: 10px solid white;
z-index: 999;
transition: 7s linear;
width: 225px;
height: 225px;
}
.jqueryhover {
-webkit-transform: rotate(3turn);
}
.throb {
 -webkit-animation: throb 4.2s linear;
}
/* Developer Keyframes
-------------------------------------------- */
@-webkit-keyframes throb {
	0%     { -webkit-transform: scale(14.0);}
	100%     { -webkit-transform: scale(1.0);}
}
#pow {
transition: 5s linear;
/*display: none;*/
}
#pow2 {
transition: 5s linear;	
/*display: none;*/
}
.scaleUp {
-webkit-transform: scaleY(1.3);
}
.scaleDown {
-webkit-transform: scaleX(1.3);
}

input[type="checkbox"],input[type="radio"] {
	margin-left: 5px;
	margin-right: 5px;
}
#black-hr {
opacity: 0.0;
}
#searching_for_things {
text-align: center;
width: 100%;
height: 150%;
opacity: 0.9;
margin-top: -15%;
padding-top: 130px;
z-index: 200;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #0F6DD9 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #0F6DD9 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #0F6DD9 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #0F6DD9));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #0F6DD9 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle closest-corner at center, #FFFFFF 0%, #0F6DD9 100%);
}

#searching_headline {
margin-top: 150px;
}
body {
margin-top: 90px !important;
}

.border {
	border: 4px solid $border1;
}
.starRating .fi-star{
	font-size: 1.5em;
	color: white;
	margin-top: -5px;
	border: 1px solid black;
	background: orange;
	border-radius: 5px;
}
#rotation_box {
	min-height: 200px;
	width: 100%;
}
#payout_header {
	text-align: center;
}
#player_container {
	width: 100%;
	margin: auto;
	min-height: 500px;
/*	border: 2px solid blue;*/
}
#player {
	min-height: 500px;
	width: 100%;
	position: relative;
/*	border: 2px solid red;*/
}
.button.large {
	color: #FCFCFC;
}
.button.large:hover {
	color: white;
}

.foundation-icon {
	font-size: 12em;
	margin-left: 20%;
	color: grey;
}
.landing-page-buttons {
	position: absolute;
	z-index: 100;
	margin-top: -320px;
	text-align: center;
	width:100%;
}
.full-width {
  width: 100%;
}
.text-jumbo {
	font-size: 3em;
	font-weight: 900;
	color: white;
}
#subtitle {
	font-size: 1.8em;
	font-weight: 900;
	color: white;	
}
.border {
/*border: 4px solid green;*/
}

#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: 100% auto !important;
  background-position: center;
 background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 15px 15px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 4em;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 4em;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
.request_interview_button_container.button.large {
width: 100%;
}
#hire_now_button.button.large {
	width: 100%;
	font-size: 1.5em;
}
#request_interview_button {
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	font-size: 1.5em;
	min-width: 180px;
	width: 100%;
}
#read_more a {
	color: blue;
}
#read_more a {
	color: green;
}
.top-bar {
	min-height: 60px;
}
.button_landing_page_left {
	margin-right: 40px;
}
#youtube_video {
/*position: fixed; 
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -100;
background: url(example.jpg) no-repeat;
background-size: cover;
*/
/*position: fixed;*/
width: 100%;
min-height: 500px;
}
.landing_page_buttons {
	margin-top: 20px;
	border: 2px solid black;
	display: flex;
	justify-content: space-around;
}

body {
	margin-top: 55px;
}

#slider, #orbits_slider {
 width: !important 100%;
 height: auto;
}

.text_area_tall {
	min-height: 170px;
}
#email_to_developer {
	width: 100%;
	height: 1000px;
}

#developer_location {
/*	border: 2px solid red;*/
	margin-top: -10px;
	padding-left: 1px;
}
#username {
	font-weight: 900;
}
.top-bar a {
  color: #FFF;
}
.top-bar a:hover {
  color: steelblue;
}
#logins {
	color: white;
}
.backlit {
	background: black;
	border: 1px dashed green;
}
.contract.hover .admin{
	display: inline;
}
.contract .admin {
	display: none;
}
.contract {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}
.contract p {
	margin: 4px 0;
}
.contract.hover {
	background: #FAFAFA;
}
.navbar-inverse { 
	min-height: 50px;
}

#orbits_slider {
  min-width: 100%;
  min-height: 400px;
  height: 95%; }

 blockquote {
  font-size: 20px;
}

#landing_page_button_hire {
	margin-top: 23px;
	margin-right: 100px;
}
#landing_page_button_be_hired {
	margin-top: 23px;
}

#and_its_always_free_tagline {
	margin-top: 50px;
}

#logo_tagline {
	margin-top: 0px;
}

#site_logo {
	font-weight: 900;
}

.tagline {
	margin-top: 20px;
}
/***********
ANGULAR
************/
.search {
	background: #DADADA;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	width: 103.5%;
  	margin-bottom: 7px;
  	margin-left: -3%;
  	border: 2px solid steelblue;
 	-moz-box-shadow:    2px 2px 3px 2px #ccc;
	-webkit-box-shadow: 2px 2px 3px 2px #ccc;
	box-shadow:         2px 2px 3px 2px #ccc;
}
.formgroup select {
	width: 250px;
	margin: 10px;
}
.search label {
  display: none;
}

.search input {
  margin-top: -20px;
  width: 35%;
  font-size: 1.5rem;
  padding: 5px;
}

.search .formgroup input {
  border: 1px solid rgba(0,0,0,0.3);
  display: inline;
  width: auto;
}

.search label.formgroup {
  display: inline;
  width: auto;
}

.search select {
  width: 240px;
  display: inline;
  padding: 2px 0 2px 10px;
  font-size: 1.1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  outline: 0;
}
.developer_stats_box {
/*	border: 2px solid red;*/
}


/*********
FOUNDATION MEDIA QUERIES 
*********/

/*Small screens
@media only screen { } 
@media only screen and (max-width: 40em) { } 
Medium screens
@media only screen and (min-width: 40.063em) { } 
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } 
@media only screen and (min-width: 64.063em) { }
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } 
@media only screen and (min-width: 90.063em) { } 
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } 
XXLarge screens
@media only screen and (min-width: 120.063em) { } */

/*// Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {


#player_container, #player {
  min-height: 90px;
}
.button_landing_page_right {
 margin-top: 220px;
 margin-bottom: 0px;
}
#headerProfileImage, #pagination_upper {
display: none;
}
#developer_title {
user-select: none;	
}
#the_word_like, #the_word_liked {
display: none;
}
/*disable clicking on mobile.*/
/*a {
pointer-events: none;
}*/
.developer_container_each_developer a{
pointer-events: none;
user-select: none;	
}
#like_unlike_buttons {
position: relative;
display: flex;
width: 100%;
}
button#unlike, button#rockstar{
	width: 100%;
}
#rockstar {
	margin-left: 0px;
}
#developer_description {
/*	display: none;*/
}
#developer-description-content {
	margin-top: 170px;
	height: 160px;
	border-radius: 0px;
	user-select: none;
}
#view_full_profile_text {
	display: none;
}
#the_logo {
font-size: 22px;
}
#name_tagline {
margin-top: -38px;
font-size: 16px;
}
#unlike {
	margin-right: 40px;
	margin-left: 50px;
}
#developer_skills, .developer_username {
display: none;
}
#developer_container_all_developers {
margin-left: 0px;
}
#developer_profile_image {
transition-duration: 0s;
border: none;
user-select: none;
}
#developer_profile_image:hover {
transition-duration: 0s;
user-select: none;
}
#verified_section {
display: flex;
justify-content: center;
width: 100%;
}
.animation_3d {
-webkit-perspective: 800px;
}
#rotation_box {
	position: relative;
	transition: -webkit-transform 1s ease-in;
	-webkit-transform-style: preserve-3d;
	height: 340px;
	width: 105%;
	margin: 0px 0px 0px -10px;
}
#rotation_box:hover {
	-webkit-transform: rotateY(180deg);
}
#developer_profile_image {
	height: 340px;
	width: 500px !important;
}

#developer_profile_image, .developer_image_box {
	margin-top: 5px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 2px 2px 2px #ccc;
  	-moz-box-shadow:    2px 2px 2px 3px #ccc;
  	-webkit-box-shadow: 2px 2px 2px 3px #ccc;
  	box-shadow:         2px 2px 2px 3px #ccc;
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);
	margin-bottom: 0px;
}
#developer_profile_image:hover {
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);
	border-style: solid;
	border-width: 3px;
}
/*SIDE A*/
#developer_image_box {
	border: 1px solid #FAFAFA;
	z-index: 100;
	-webkit-backface-visibility: hidden;
	margin: 0;
	padding: 0;
	user-select: none;
}
/*SIDE B*/
.developer_stats_box {
	border: 2px solid $border2;
	border-radius: 20px;
	background: #FAFAFA;
	height: 360px;
	width: 100%;
	position:absolute;
	-webkit-transform: rotateY(-180deg);
	z-index: 99;
	user-select: none;
}
#hire_now_button {
	display: none;
} 
#landing-page-headline,#subtitle {
    display: none;
}
.bg-content-wrapper {
    position: absolute;
    height: 200px;
    overflow: hidden;
}
#the_logo{
	font-size: 26px;
}
#name_tagline{
	font-size: 16px;
	margin-top: -40px;
}
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) { 

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#headerProfileImage {
	display:none;
}


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) { 

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */













