<p>Hi <%= @employer.first_name %>,</p>
 
<p>A developer responded to your email.</p>

<p><%= link_to "See the message now", negotiation_url(@negotiation) %>
<span>or... </span>
<span><%= link_to "hire the developer now", developer_url(@developer) %>.</span></p>

<p>Good luck!</p>
<p>Adam, Founder - San Francisco Developer Exchange&trade;</p>