<%= render 'layouts/header' %>

<%=yield %>

<%= render 'layouts/footer' %>
<div class="row">
  <div class="small-2 medium-2 large-2 columns"></div>
  <div class="small-8 medium-8 large-8 columns">
  <p style="font-size:0.8em;"><%= link_to '"The City of the Bridges" by Christophe Tauziet
Used under Creative Commons 3.0 License', 'https://vimeo.com/104346255', :class => "popup", :"data-width" => 600, :"data-height" => 400 %></p>
  </div>
  <div class="small-2 medium-2 large-2 columns"></div>
</div>