<%= render 'layouts/header' %>
  <div class="large-1 columns">
  </div>
  <div class="large-9 large-centered columns">
	<%=yield %>
  </div>
  <div class="large-1 columns"></div>
<%= render 'layouts/footer' %>
